<% include ../layouts/header.html.ejs %>
<% include ../templates/mangaDetails.ng-html.ejs %>

<div ng-controller="MangaCtrl">
    <div class="row" id="loader-container" ng-show="loading" ng-animate="slide">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div ng-show="loadingFailure">
        <alert type="danger">Oops, something has come up! Try to refresh the browser. If the issue persists, contact us ;-).</alert>
    </div>

    <div class="row" id="manga-list" ng-show="loadingSuccess">
        <div class="col-md-4 col-sm-6" ng-repeat="manga in searchResults = (mangas | criteria:filters) | limitTo: itemPerPage * currentPage | limitTo: itemPerPage * currentPage < itemsCount ? -itemPerPage : itemPerPage - (itemPerPage * currentPage - itemsCount)">
            <div class="manga-cell well">
                <div class="manga-cell-thumbnail">
                    <img src="{{manga.thumbnail}}" class="thumbnail manga-cell-thumbnail-img" alt="thumbnail" ng-click="openDetails(manga)" />
                </div>
                <div>
                    <span class="manga-cell-title">{{manga.title}}</span> <span class="manga-cell-year">({{manga.year}})</span>
                </div>
                <div class="manga-cell-genres">
                    <a href="" ng-repeat="genre in manga.genres" ng-click="addCriteria('genres', genre)">{{genre}}<span ng-show="!$last">, </span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" ng-show="loadingSuccess">
        <pagination total-items="searchResults.length" items-per-page="itemPerPage" ng-model="currentPage" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    </div>

</div>

<% include ../layouts/footer.html.ejs %>